%h3 Configuration

%table
  %tbody
    %tr
      %th Displayed trackers
      %td
        - Tracker.sorted.each do |tracker|
          = check_box_tag "settings[displayed_tracker_ids][]", tracker.id, Setting.plugin_redhopper.present? ? Setting.plugin_redhopper["displayed_tracker_ids"].include?(tracker.id.to_s) : false
          = tracker.name

%h3 Feature switches

%table
  %tbody
    %tr
      %th Issue meta-data on card
      %td
        - name = "issue_meta-data_on_card"
        = check_box_tag "settings[features][#{name}]", true, Feature.enabled(name)
      %td Displays hints about issue details like the assigned user or attachments count directly on the card so that you don't have to go to the details page.
    %tr
      %th Move issue back to unsorted section
      %td
        - name = "move_back_to_unsorted"
        = check_box_tag "settings[features][#{name}]", true, Feature.enabled(name)
      %td A sorted issue has so few valid reasons to go back to the unsorted section that we decided to disable this feature on purpose. Activate it wisely.
    %tr
      %th Only necessary columns
      %td
        - name = "only_necessary_columns"
        = check_box_tag "settings[features][#{name}]", true, Feature.enabled(name)
      %td Only displays columns used by the project's trackers.
