%h2 Kanbans

%form
	%ol.kanban
		- @issue_statuses.each do |status|
			%li
				%h3
					= status.name
					%small{title: "Issues count"} (#{@issues_by_status[status][:sorted].length + @issues_by_status[status][:unsorted].length})
				%h4 Sorted
				%ol
					- previous_issue_id = nil
					- @issues_by_status[status][:sorted].each do |issue|
						%li
							/
								Redmine needs a tr for its contextual menu.
								So here is the whole table package…
							%table
								%tbody
									%tr.hascontextmenu
										%td
											%input{type: "checkbox", name: "ids[]", value: issue.id}
											.sortable
												= link_to (tag :img, src: '/images/1uparrow.png', alt: "Move up arrow"), move_up_redhopper_issue_path(issue_id: issue.id, insert_before_id: previous_issue_id), method: :post, title: "Move up" unless previous_issue_id.nil?
												- previous_issue_id = issue.id
											.meta-data
												- unless (notes = issue.journals.select { |journal| !journal.notes.blank? }).empty?
													.icon.icon-comment{title: "#{notes.count} notes."} &nbsp;
												- unless issue.attachments.empty?
													.icon.icon-attachment{title: "#{issue.attachments.count} attachments."} &nbsp;
												- unless issue.assigned_to.nil?
													.icon.icon-user{title: "Assigned to #{issue.assigned_to}."} &nbsp;
												- unless issue.description.blank?
													.icon.icon-issue{title: "Description filled in."} &nbsp;
											= link_to "##{issue.id} #{issue.subject}", issue

				%h4 Unsorted
				%ol
					- @issues_by_status[status][:unsorted].each do |issue|
						%li
							/
								Redmine needs a tr for its contextual menu.
								So here is the whole table package…
							%table
								%tbody
									%tr.hascontextmenu
										%td
											%input{type: "checkbox", name: "ids[]", value: issue.id}
											.unsortable
												= link_to 'Move to sorted section', create_redhopper_issue_path(issue_id: issue.id), method: :post
											.meta-data
												- unless (notes = issue.journals.select { |journal| !journal.notes.blank? }).empty?
													.icon.icon-comment{title: "#{notes.count} notes."} &nbsp;
												- unless issue.attachments.empty?
													.icon.icon-attachment{title: "#{issue.attachments.count} attachments."} &nbsp;
												- unless issue.assigned_to.nil?
													.icon.icon-user{title: "Assigned to #{issue.assigned_to}."} &nbsp;
												- unless issue.description.blank?
													.icon.icon-issue{title: "Description filled in."} &nbsp;
											= link_to "##{issue.id} #{issue.subject}", issue

- content_for :header_tags do
	= stylesheet_link_tag 'redhopper', :plugin => 'redhopper'
	= javascript_include_tag 'redhopper', :plugin => 'redhopper'

= context_menu issues_context_menu_path
