%h2 Kanbans

%form
	%ol.kanban
		- @issue_statuses.each do |status|
			%li
				%h3
					= status.name
					%small{title: "Issues count"} (#{@issues_by_status[status][:sorted].length + @issues_by_status[status][:unsorted].length})
				%h4 Sorted
				%ol
					- if first_issue = @issues_by_status[status][:sorted].first
						%hr{id: "issue-#{first_issue.id}-before"}
					- last_issue = @issues_by_status[status][:sorted].last
					= render partial: 'issue', collection: @issues_by_status[status][:sorted], locals: { sortable: true, status: status, first_issue: first_issue, last_issue: last_issue }

				%h4 Unsorted
				%ol
					= render partial: 'issue', collection: @issues_by_status[status][:unsorted]

- content_for :header_tags do
	= stylesheet_link_tag 'redhopper', :plugin => 'redhopper'
	= javascript_include_tag 'redhopper', :plugin => 'redhopper'

= context_menu issues_context_menu_path
