%h2 Kanbans

%form
	%ol.kanban
		- @issue_statuses.each do |status|
			%li
				%h3
					= status.name
					%small{title: "Issues count"} (#{@issues_by_status[status].length})
				%ol
					- @issues_by_status[status].each do |issue|
						%li
							/
								Redmine needs a tr for its contextual menu.
								So here is the whole table package…
							%table
								%tbody
									%tr.hascontextmenu
										%td
											%input{type: "checkbox", name: "ids[]", value: issue.id}
											= link_to issue.subject, issue

- content_for :header_tags do
	= stylesheet_link_tag 'redhopper', :plugin => 'redhopper'

= context_menu issues_context_menu_path
