%h2 Kanbans

%form
	%ol.kanban
		- @kanban_board.columns.each do |column|
			%li
				%h3
					= column.issue_status.name
					%small{title: t(".issues_count")} (#{column.sorted_issues.length + column.unsorted_issues.length})
				%h4
					= t(".sorted")
				%ol
					- if first_issue = column.sorted_issues.first
						%hr{id: "issue-#{first_issue.id}-before"}
					- last_issue = column.sorted_issues.last
					= render partial: 'issue', collection: column.sorted_issues, locals: { sortable: true, column: column, first_issue: first_issue, last_issue: last_issue }

				%h4
					= t(".unsorted")
				%ol
					= render partial: 'issue', collection: column.unsorted_issues

- content_for :header_tags do
	= stylesheet_link_tag 'redhopper', :plugin => 'redhopper'
	= javascript_include_tag 'redhopper', :plugin => 'redhopper'

= context_menu issues_context_menu_path
